
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
      body {
        background-color: red;
        color: red;
      }
      .hero-wrapper {
        height: 10px;
      }
    }











/* This applies from 0px to 600px */
/* body {
  background: red;
} */

/* This applies from 600px onwards */
/* @media (min-width: 600px) {
  body {
    background: green;
    color: white;
  }
} */


/* Small Devices, Phones */
/* @media only screen and (max-width: 767px) {
 background-color: pink;
} */

/* Small Devices & Tablets */
/* @media only screen and (max-width: 767px) {} */

/* Medium Devices, Desktop */
/* @media only screen and (max-width: 767px) {} */

/* Large Devices, Wide Screen */
/* @media only screen and (max-width: 767px) {} */
