
/* STYLING START */
html, body {
 height: 100%;
 padding: 0;
 margin: 0;
}

.logout-button {
 position: absolute;
 right: 30px;
 top: 15px;
}

.account-dragon-row-input {
 width: 100px;
 height: 20px;
 margin-right: 15px;
}

.dragon-avatar-image-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
}

.dragon-avatar-image-pattern {
 position: absolute;
}

.dragon-avatar-image-background {
 position: absolute;
}

.dragon-avatar-image {
 z-index: 0;
}

.account-dragon-row-input {
  width: 100px;
  height: 20px;
  margin-right: 15px;
}

/* a {
  color: orange;
  text-decoration: none;
  margin: 5px;
} */

a:link {
  color: orange;
  margin: 10px;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: grey;
}

a:active {
  background-color: yellow;
} 

.acct-info {
  color: whitesmoke;
  padding: 50px 0px 25px 30px;
  font-size: smaller;
}