
/* STYLING START */
html, body {
 height: 100%;
 padding: 0;
 margin: 0;
}

.logout-button {
 position: absolute;
 right: 30px;
 top: 23px;
}

.account-dragon-row-input {
 width: 100px;
 height: 20px;
 margin-right: 15px;
}

.dragon-avatar-image-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
}

.dragon-avatar-image-pattern {
 position: absolute;
}

.dragon-avatar-image-background {
 position: absolute;
}

.dragon-avatar-image {
 z-index: 0;
}

.account-dragon-row-input {
  width: 100px;
  height: 20px;
  margin-right: 15px;
}

/* a {
  color: orange;
  text-decoration: none;
  margin: 5px;
} */

a:link {
  color: orange;
  margin: 10px;
  position: relative;
  top: 20px;
  left: 650px;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: grey;
}

a:active {
  background-color: yellow;
} 

.acct-info {
  color: whitesmoke;
  padding: 50px 0px 25px 30px;
  font-size: smaller;
}

/* This applies from 600px onwards */
/* @media (min-width: 600px) {
  body {
    background: green;
    color: white;
  }
} */


/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
      body {
        color: white;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      body {
        color: yellow;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      body {
        color: rgb(152, 236, 26);
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
      body {
        color: violet;
      }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
      body {
        color: blue;
        background-image: url(../../assets/bg-wrapper.jpg);
      }
    }
